## Problem - "Average Dollar Volume"
Write a SQL query to calculate the average dollar volume (`dollar volume = Adj Close * Volume`) in February 2019
What is the average dollar volume in February 2019?

In [5]:
%run notebooks/utils.ipynb

## Solution #1

For stocks in `bars_1` table

In [6]:
execute("""
SELECT AVG(adj_close * volume) AS avg_dolar_volume FROM bars_1
    WHERE EXTRACT(YEAR FROM "date") = 2019 AND EXTRACT(MONTH FROM "date") = 2
""")

   avg_dolar_volume
0      3.019755e+08

## Solution #2
For all stocks (across `bars_1` and `bars_2` tables)

In [7]:
execute("""
WITH bars AS (
    SELECT "date", adj_close, volume FROM bars_1
    UNION
    SELECT "date", adj_close, volume FROM bars_2
)
SELECT AVG(bars.adj_close * bars.volume) AS avg_dolar_volume FROM bars
    WHERE EXTRACT(YEAR FROM bars."date") = 2019 AND EXTRACT(MONTH FROM bars."date") = 2
""")

   avg_dolar_volume
0      3.231216e+08

## Solution #3

A bit more optimized solution for all stocks

In [8]:
execute("""
WITH bars AS (
    SELECT b1.symbol, b1."date", b1.adj_close, b1.volume FROM bars_1 AS b1
        WHERE EXTRACT(YEAR FROM b1."date") = 2019 AND EXTRACT(MONTH FROM b1."date") = 2
    UNION
    SELECT b2.symbol, b2."date", b2.adj_close, b2.volume FROM bars_2 AS b2
        WHERE EXTRACT(YEAR FROM b2."date") = 2019 AND EXTRACT(MONTH FROM b2."date") = 2
)
SELECT AVG(bars.adj_close * bars.volume) AS avg_dolar_volume FROM bars
""")

   avg_dolar_volume
0      3.231216e+08